@font-face{
  font-family: 'Roboto Mono';
  @import: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
}


*{
  font-family: 'Roboto Mono';
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}